.section__discussion {
	margin-top: 16rem;
}

.discussion__flexbox {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.discussion__text {
	margin-right: 6rem;
}

.discussion__text h2.secondary-heading {
	width: 42rem;
	font-weight: 600;
	font-size: 4rem;
	line-height: 160%;
}

.discussion__text p {
	width: 54rem;
	margin-top: 2rem;
	font-weight: 400;
	font-size: 2.2rem;
	line-height: 180%;
}

.section__button {
	margin-top: 14rem;
	text-align: center;
}
