.section__education {
	margin-top: 16rem;
}

.education__flexbox {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.education__text {
	width: 68.8rem;
}

.text_desc {
	font-weight: 400;
	font-size: 2rem;
	line-height: 2.7rem;
	color: var(--color--line);
	transform: translateX(5rem);
}

.text_desc .line {
	transform: scaleX(6) translateX(-0.5rem);
	display: inline-block;
}

.education__text h2.secondary-heading {
	width: 48rem;
	margin-top: 2.5rem;
	font-weight: 700;
	font-size: 3.6rem;
	line-height: 160%;
}

.education__text p {
	margin-top: 3rem;
}

.education__text .btn {
	margin-top: 4.4rem;
}

.icons {
	position: relative;
	height: 45.9rem;
}

.icons > * {
	position: absolute;
}

.item-1 {
	top: 3rem;
	left: 13rem;
}

.item-2 {
	top: 9rem;
	left: 50rem;
}

.item-3 {
	top: 35rem;
	left: 20rem;
}

.item-4 {
	top: 38rem;
	left: 50rem;
}
