/* 12 grid structure with grid width of 1200px*/
/* each column of approx. 82px and gutter of 20px */

.row {
	margin: 0 auto;
	max-width: var(--grid-width);
}

@media screen and (max-width: 1200px) {
	.row {
		max-width: 100rem;
	}
}

@media screen and (max-width: 850px) {
	.row {
		max-width: 80rem;
	}
}

@media screen and (max-width: 700px) {
	.row {
		max-width: 70rem;
	}
}

@media screen and (max-width: 576px) {
	.row {
		max-width: 48.5rem;
	}
}

@media screen and (max-width: 250px) {
	.row {
		max-width: 45rem;
	}
}

@media screen and (min-width: 1200px) {
	.row {
		max-width: 110rem;
	}
}

.row::after {
	clear: both;
	content: "";
	display: block;
}

/* .row:not(:last-child) {
	margin-bottom: var(--gutter-vertical);
} */

.row [class^="col"] {
	float: left;
}

@media screen and (max-width: 576px) {
	.row [class^="col"] {
		width: 100% !important;
	}
}

.row [class^="col"]:not(:last-child) {
	margin-right: var(--gutter-horizontal);
}

@media screen and (max-width: 576px) {
	.row [class^="col"]:not(:last-child) {
		margin-right: 0;
		margin-bottom: var(--gutter-vertical);
	}
}

.row .col-1-of-12 {
	width: calc((100% - 11 * var(--gutter-horizontal)) / 12);
}

.row .col-2-of-12 {
	width: calc(
		((100% - 11 * var(--gutter-horizontal)) / 12) * 2 +
			var(--gutter-horizontal)
	);
}

.row .col-3-of-12 {
	width: calc(
		((100% - 11 * var(--gutter-horizontal)) / 12) * 3 + 2 *
			var(--gutter-horizontal)
	);
}

.row .col-4-of-12 {
	width: calc(
		((100% - 11 * var(--gutter-horizontal)) / 12) * 4 + 3 *
			var(--gutter-horizontal)
	);
}

.row .col-5-of-12 {
	width: calc(
		((100% - 11 * var(--gutter-horizontal)) / 12) * 5 + 4 *
			var(--gutter-horizontal)
	);
}

.row .col-6-of-12 {
	width: calc(
		((100% - 11 * var(--gutter-horizontal)) / 12) * 6 + 5 *
			var(--gutter-horizontal)
	);
}

.row .col-7-of-12 {
	width: calc(
		((100% - 11 * var(--gutter-horizontal)) / 12) * 7 + 6 *
			var(--gutter-horizontal)
	);
}

.row .col-8-of-12 {
	width: calc(
		((100% - 11 * var(--gutter-horizontal)) / 12) * 8 + 7 *
			var(--gutter-horizontal)
	);
}

.row .col-9-of-12 {
	width: calc(
		((100% - 11 * var(--gutter-horizontal)) / 12) * 9 + 8 *
			var(--gutter-horizontal)
	);
}

.row .col-10-of-12 {
	width: calc(
		((100% - 11 * var(--gutter-horizontal)) / 12) * 10 + 9 *
			var(--gutter-horizontal)
	);
}

.row .col-11-of-12 {
	width: calc(
		((100% - 11 * var(--gutter-horizontal)) / 12) * 11 + 10 *
			var(--gutter-horizontal)
	);
}
