*,
*::after,
*::before {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

@media screen and (min-width: 18.75em) {
    html {
        font-size: 43.75%;
    }
}

@media screen and (min-width: 37.5em) {
    html {
        font-size: 50%;
    }
}

@media screen and (min-width: 56.25em) {
    html {
        font-size: 56.25%;
    }
}

@media screen and (min-width: 75em) {
    html {
        font-size: 62.5%;
    }
}

body {
    box-sizing: border-box;
    overflow: hidden;
    background-color: "#f3eded";
}