section__assessment {
	margin-top: 16rem;
}

.flexbox {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.assessment__text h2.secondary-heading {
	width: 40rem;
	font-weight: 600;
	font-size: 4rem;
	line-height: 160%;
}

.assessment__text p {
	margin-top: 2rem;
	width: 40rem;
	font-weight: 400;
	font-size: 2rem;
	line-height: 180%;
}
