.section__banner {
	height: 58rem;
	width: 100%;
	position: relative;
	padding-top: 4rem;
	background-image: url("../images/Pattern.png");
	background-size: cover;
	background-position: bottom right;
}

.p-relative {
	position: relative;
	height: 100%;
}

.point-lg {
	position: absolute;
	top: -6rem;
	left: -2rem;
	z-index: -100;
}

.point-sm {
	position: absolute;
	top: 350px;
	left: 40%;
	z-index: -100;
}

/* .bg-image {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -10;
	min-width: 1480px;
}

.bg-image > img {
	width: 99.1vw;
} */

.banner__text {
	position: absolute;
	top: 0;
	left: 0;
	width: 49.2rem;
	margin-top: 8rem;
}

.banner__image {
	position: absolute;
	top: 1rem;
	right: -4rem;
	z-index: -100;
}

.banner__image img {
	width: 50rem;
}

.banner__buttons .btn-tertiary {
	margin-right: 2rem;
	border: none !important;
	border-right: 2px solid #e5e5e5 !important;
}

.banner__buttons .btn-tertiary:hover {
	background-color: white;
	border: none;
	color: #09215e;
}

.banner__buttons .btn-tertiary > img {
	transform: translateY(13px);
	margin-right: 1rem;
	width: 40px;
}

.banner__buttons .btn-primary > img {
	/* transform: translateY(4px); */
	width: 14px;
}

@media screen and (max-width: 65.625em) {
	.banner__image img {
		width: 45rem !important;
		margin-top: 3rem;
	}
}

@media screen and (max-width: 53.125em) {
	.section__banner {
		padding-top: 0 !important;
	}

	.banner__image {
		display: none;
		width: 0;
	}

	.banner__text {
		width: 100%;
	}
}
